.shift-worker-container {
  display: flex;
  column-gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shift-container {
  display: flex;
  flex-direction: column;
  animation: initialize 0.3s cubic-bezier(0, 1.24, 0.91, 0.96);
}

@keyframes initialize {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.shift-schedule-container {
  background-color: #196654;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 0;
  margin-top: 0.8rem;
  border-radius: 0.5rem;
  border: 1px solid #138c70;
}

.shift-inputs {
  display: flex;
  flex-direction: column;
  width: 90%;
  row-gap: 0.3rem;
}

.start-time-label,
.end-time-label {
  font-size: 0.7rem;
  font-weight: 500;
  margin-left: 0.2rem;
  color: white;
}

.input {
  background-color: #165a4a;
  color: white;
  text-indent: 0.2rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  border: none;
  outline: none;
}

.worker-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
