.workers-container {
  background-color: #207964;
  width: 200px;
  height: 500px;
  margin: 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid #16a381;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  overflow-y: auto;
}

li {
  color: white;
  list-style: none;
  padding: 0.2rem 0.5rem;
  margin: 0.3rem 0.3rem;
  background-color: #22a586;
  border: 1px solid #11c79c;
  border-radius: 0.3rem;
  overflow-x: hidden;
  animation: showWorker 0.1s ease-out;
}

@keyframes showWorker {
  from {
    transform: translateX(-2rem);
  } tp {
    transform: translateX(0);
  }
}

.workers-text-area {
  background-color: #0d4034;
  color: white;
  padding: 0.5rem 0.5rem;
  margin: 0 0.3rem;
  margin-top: 0.2rem;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  resize: none;
  overflow-y: hidden;
}
